@use 'variable' as var;
@use 'mixin';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var.$maxWidth;
  margin: 0 auto;
  padding: 20px 0;
  background-color: var.$navy;

  &>div.inner {
    width: 100%;
    height: 100px;
    padding: 0 20px;
  }
  
  &>div.flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__list {
    display: flex;
    padding: 10px;
    background-color: var.$white;

    &>li.purple {
      @include mixin.btn(40px, 40px, 10px, 1);
    }

    &>li.orange {
      @include mixin.btn(40px, 40px, 10px, 2);
    }

    &>li.blue {
      @include mixin.btn(40px, 40px, 0px, 3);
    }
  }
}

article {
  display: flex;
  justify-content: center;

  .sidebar {
    width: 150px;
    height: 250px;
    background-color: var.$green;
  }

  .main {
    width: 250px;
    height: 250px;
    background-color: var.$red;

    &__list__purple {
      @include mixin.listStyle(40px);

      &>li.purple {
        @include mixin.btn(140px, 40px, 0px, 1);
      }
    }

    &__list__orange {
      @include mixin.listStyle(10px);

      &>li.orange {
        @include mixin.btn(140px, 40px, 0px, 2);
      }
    }

    &__list__blue {
      @include mixin.listStyle(10px);

      &>li.blue {
        @include mixin.btn(140px, 40px, 0px, 3);
      }
    }
  }
}

footer.footer {
  background-color: var.$brown;
  height: 100px;
  margin: 0 auto;
  width: 400px;
}